@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model  ScDom.Featrure.Account.Models.RegistrationRenderingModel
@{
    var registering = "Creating";
}
<div @Html.Sxa().Component("cxa-register-component", Model.Attributes)>
    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            @Model.ErrorMessage
        </div>
    }
    else
    {
        <div class="registeration-form" data-cxa-component-class="RegistrationForm" data-cxa-component-initialized="false" data-cxa-component-type="form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <table>
                    <tr>
                        <td>
                            <label for="UserName">Email Address</label>
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.UserName)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.UserName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Password">Password Label</label>
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.Password)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.Password)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="ConfirmPassword">Repeat Password</label>
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </td>
                    </tr>
                    <tr colspan="3">
                        <td>
                            <div class="register-buttons">
                                <button type="submit" id="registerButton" data-loading-text="@registering" disabled="disabled">Create Account</button>
                                <a href="@Model.CancelLink" disabled="disabled">Cancel</a>
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>
    }
</div>

